body {
  margin: 0;
  background: radial-gradient(circle at center, #001a12, #000);
  color: #00ff9f;
  font-family: 'Courier New', monospace;
  scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
  padding: 12px 0;
  z-index: 1000;
  border-bottom: 1px solid #00ff9f;
  box-shadow: 0 0 10px #00ff9f;
}

.navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 25px;
  padding: 0;
  margin: 0;
}

.navbar a {
  color: #00ff9f;
  text-decoration: none;
}

.navbar a:hover {
  text-shadow: 0 0 10px #00ff9f;
}

/* HERO */
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: 60px;
}

.hero-content {
  text-align: center;
  padding: 40px;
  border: 1px solid #00ff9f;
  box-shadow: 0 0 30px #00ff9f;
  max-width: 400px;
  background: rgba(0, 0, 0, 0.6);
}

.profile-image {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 20px #00ff9f;
  margin-bottom: 20px;
}

.hero-title {
  text-shadow: 0 0 20px #00ff9f;
}

.cursor {
  animation: blink 1s infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}

/* SECTION */
.section {
  padding: 80px 40px;
}

.content-box {
  max-width: 900px;
  margin: auto;
  border: 1px solid #00ff9f;
  padding: 30px;
  box-shadow: 0 0 20px rgba(0, 255, 159, 0.3);
  background: rgba(0, 0, 0, 0.6);
}

.section-title {
  border-left: 4px solid #00ff9f;
  padding-left: 10px;
}

/* TERMINAL */
.terminal-box {
  background: black;
  border: 1px solid #00ff9f;
  padding: 15px;
  margin-top: 20px;
  box-shadow: 0 0 20px #00ff9f;
}

/* DASHBOARD */
.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.dashboard-card {
  border: 1px solid #00ff9f;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,255,159,0.3);
}

.threat-high {
  color: red;
}

.status-active {
  color: #00ff9f;
}